= wrap_layout :application do
  = partial "partials/hero"
  .page-content
    %aside.page-content-sidebar
      %ul
        %li
          %a{:href=>"#course-information"}Course Information
        %li
          %a{:href=>"#real-world-publishing"}Real World Publishing
        %li
          %a{:href=>"#industry-experts"}Industry Experts
        %li
          %a{:href=>"#career-placement"}Career Placement
        %li
          %a{:href=>"#about-the-los-angeles-review-of-books"}About LARB
    .page-content-main.omega
      %article
        = yield
